.contactLoading{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loadingDialogue{
    color: #fff;
    font-size: 15px;
    font-family: var(--primary-font);
    width: 300px;
    text-align: center;
}

.loadingBtnCont{
    display: flex;
    width: auto;
    gap: 20px;
    margin-top: 30px;
}

.loadingBtnCont button{
    font-size: 15px;
    padding: 5px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    font-family: var(--primary-font);
}

.contactMain {
    width: 100%;
    height: 100dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactMain video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.contactMarqueeCont {
    width: 100%;
    height: auto;
    position: relative;
}

.marqueeContact span{
    color: #fff;
    font-family: var(--couture-font);
    font-size: 10vw;
    display: inline-block;
    text-transform: uppercase;
    animation: 20s slide infinite linear;
}

.contactInfoCont{
    width: 100%;
    height: auto;
    display: flex;
    padding: 0 10vw;
    z-index: 1;
    justify-content: space-between;
}

.contactInfo{
    width: 40%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 280px;
    gap: 15px;
}

.contactInfo p,.formLink{
    color: #fff;
    font-family: var(--primary-font);
    font-size: 15px;
}

.formLink{
    position: relative;
    width: fit-content;
}

.formLink div{
    position: absolute;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: width .5s;
}

.formLink:hover div{
    width: 100%;
}

.contactSocial{
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 1;
}

.contactSocial p{
    color: #fff;
    font-family: var(--primary-font);
    font-size: 15px;
}

.socialHolder{
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.socialHolder i{
    font-size: 20px;
    color: #fff;
}

.contactForm{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    overflow-y: hidden;
    display: block;
    clip-path: polygon(0 45%, 0 45%, 0 55%, 0 55%);
    z-index: 50;
}

.formHolder{
    width: 100%;
    height: 500dvh;
    display: flex;
    flex-direction: column;
}

.formSection{
    height: 100dvh;
    width: 100%;
    background: #000;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    justify-content: center;
    padding: 0 calc(5vw);
    color: #fff;
    flex-direction: column;
    padding-bottom: 60px;
    padding-top: 60px;
}

.sectionIns{
    font-size: 40px;
    font-family: var(--couture-font);
}

.inputName, .inputEmail, .inputMsg{
    background: none;
    color: #fff;
    outline: none;
    border: none;
    border-bottom: 2px solid #ffffff21;
    font-family: var(--primary-font);
    width: 300px;
    padding: 10px;
}

.inputMsg{
    width: 300px;
    height: 150px;
    resize:none;
}

.inputSelect{
    position: relative;
}

.inputSelect .inputSelectLine{
    position: absolute;
    width: 0%;
    height: 2px;
    background: #fff;
    bottom: 0;
    transition: width .5s;
}

.inputSelect:hover .inputSelectLine{
    width: 100%;
}

.nameDialog{
    font-size: 15px;
    color: #fff;
    font-family: var(--primary-font);
}

.sectionPreview{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
}

.previewRow{
    display: flex;
    gap: 10px;
    padding: 10px 0;
    align-items: flex-start;
    width: 100%;
}

.previewRow h2{
    font-size: 15px;
    font-family: var(--couture-font);
}

.previewRow .msgTitle{
    align-self: flex-start;
}

.previewRow span{
    font-size: 15px;
    font-family: var(--primary-font);
}

.previewRow .msgholder{
    height: 100px;
    overflow-y: scroll;
    width: fit-content;
    max-width: 100%;
}

.previewRow button{
    background: none;
    color: #fff;
    border: none;
}

.sendForm{
    background: none;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    font-family: var(--couture-font);
    transition: all .5s;
}

.sendForm:hover{
    background: #fff;
    color: #000;
}

.sendEmpty{
    font-size: 15px;
    font-family: var(--primary-font);
}

.formControls{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    backdrop-filter: blur(5px);
    padding: 0 5vw;
    display: flex;
    align-items: center;
    gap: 30px;
}

.formControls button{
    color: #fff;
    background: none;
    border: none;
    padding: 5px ;
    font-family: var(--primary-font);
    font-size: 15px;
}

.formControls button.disabled{
    color: #fff;
    opacity: .5;
}

.formControls i{
    margin: 0 5px;
}

.controlsNext{
    transition: color .5s;
}

.controlsNext.active{
    color: rgb(0, 252, 0);
}


@media (max-width: 1200px) {

    .marqueeContact span{
        font-size: 100px;
        animation: 10s slide infinite linear;
    }

    .contactInfoCont{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .contactInfo{
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 500px){
    .formControls{
        flex-direction: column-reverse;
        padding-bottom: 20px;
        gap: 30px;
    }
    
}